{% extends "base.html" %} {% block content %} {% load static %}

<!-- 
			=============================================
				Inner Banner
			============================================== 
			-->
<div
  class="inner-banner pos-r banner-bg bg-style-two"

>
  <div class="opacity">
    <div class="container">
      
      <h1
        class="banner-main-title pt-15 pb-45 md-pb-20 wow fadeInUp animated"
        data-wow-delay="0.4s"
      >
      {% for restaurants in restaurants %}
      <span style="color: rgb(9, 134, 211)" data-wow-delay="0.9s">{{restaurants.Name}}</span>
      {% endfor %}
       
      
    </div>
  </div>
</div>
<!-- /.inner-banner -->

<!-- 
			=============================================
				E-Commerce Product Area
			============================================== 
			-->
<div class="full-width-container pt-150 pb-180 md-pb-120 md-pt-120">
  <div class="row">
    <div class="col-xl-9 col-lg-8 order-lg-last">

      <div class="product-filter-area d-flex justify-content-between align-items-center">
        <div class="large-filter-area d-flex justify-content-between align-items-center">
        </div> <!-- /.large-filter-area -->
      
        
       
      </div> <!-- /.product-filter-area -->
      <!-- SHOP SHOWCASE -->
      <div class="product-showcase">
        <div class="row gutter-80">
          {% for products in products %}
          <div class="col-xl-4 col-lg-6 col-md-4 col-sm-6">
            <div class="single-product-case">
              <div class="img-holder">
                <img src=" {{products.category.image.url}}" alt="" />
                <a href="{{products.get_absolute_url}}" class="cart-button"
                  >View Details</a
                >
              </div>
              <div class="info">
                <a href="{{products.get_absolute_url}}" class="product-name"
                  >{{products.name}}</a
                >
                <div class="price">L.E {{products.price}}</div>
              </div>
            </div>
            <!-- /.single-product-case -->
          </div>
          <!-- /.col- -->
          {% endfor %}
        </div>
        <!-- /.row -->
      </div>
      <!-- /.product-showcase -->
    </div>
    <!-- /.col- -->

    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-8 col-12 order-lg-first">
      <div class="theme-sidebar-widget">
        <div class="single-block mb-80 mt-95">
          {% for products in products %}
         
          <form method = "GET" action="{{products.get_absolute_searched_url}}" class="sidebar-search">
            {% endfor %}
            {% for restaurants in restaurants %}
            <input name="searched" type="text" placeholder="Search in {{restaurants.Name}}" />
            {% endfor %}
            <button type= "submit"><i class="fa fa-search" aria-hidden="true"></i></button>
          </form>
        </div>
        <!-- /.single-block -->
        <div class="single-block mb-80 main-menu-list">
          <h4 class="sidebar-title">Categories</h4>
          <ul class="list-item">
			{% for categories in categories %}
            <li><a href="{{categories.get_absolute_url_category}}">{{categories.display_name}}</a></li>
			{% endfor %}
          </ul>
        </div>
        <!-- /.single-block -->
      </div>
      <!-- /.theme-sidebar-widget -->
    </div>
  </div>
  <!-- /.row -->
</div>
<!-- /.full-width-container -->

{% endblock content %}
