{% load static %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="keywords" content="Food ordering & distributing">
		<meta name="author" content="X-Eats">
		<meta name="description" content="X-Eats is Food ordering & distributing organization for NU Students">
		<meta name='og:image' content="{% static 'images/home/logo.png' %}">
		<!-- For IE -->
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<!-- For Resposive Device -->
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<!-- For Window Tab Color -->
		<!-- Chrome, Firefox OS and Opera -->
		<meta name="theme-color" content="#233D63">
		<!-- Windows Phone -->
		<meta name="msapplication-navbutton-color" content="#233D63">
		<!-- iOS Safari -->
		<meta name="apple-mobile-web-app-status-bar-style" content="#233D63">
		<title> X-Eats</title>
		<!-- Favicon -->
		<link rel="icon" type="image/png" sizes="56x56" href="{% static "images/logo/logo -new.png"%}">
		<!-- Main style sheet -->
		
		<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
		<!-- responsive style sheet -->
		<link rel="stylesheet" type="text/css" href="{% static 'css/responsive.css' %}">

		<!-- Fix Internet Explorer ______________________________________-->
		<!--[if lt IE 9]>
			<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
			<script src="vendor/html5shiv.js"></script>
			<script src="vendor/respond.js"></script>
		<![endif]-->	

		
	</head>

	<body>
		<div class="main-page-wrapper">

			<!-- ===================================================
				Loading Transition
			==================================================== -->
			<!-- Preloader -->
			<section>
				<div id="preloader">
					<div id="ctn-preloader" class="ctn-preloader">
						<div class="animation-preloader">
							<div class="icon"><img src="{% static 'images/2.svg' %}" color: rgba(9,134,211,0.5); alt=""></div>
							<div class="txt-loading">
								<span data-text-preloader="X" class="letters-loading">
									X
								</span>
								<span data-text-preloader="-" class="letters-loading">
									-
								</span>
								<span data-text-preloader="E" class="letters-loading">
									E
								</span>
								<span data-text-preloader="A" class="letters-loading">
									A
								</span>
								<span data-text-preloader="T" class="letters-loading">
									T
								</span>
								<span data-text-preloader="S" class="letters-loading">
									S
								</span>
							</div>
						</div>	
					</div>
				</div>
			</section>
			<div class="theme-main-menu theme-menu-two main-p-color sticky-menu">
				<div class="d-flex align-items-center">
					<div class="right-content ml-auto order-lg-3">
						{% if user.is_authenticated %}
						{% comment %} <a class="theme-btn"> <p> Wallet : {{user.Wallet}} </p></a> {% endcomment %}
						

						<div class="right-content">
							<div class="col-lg-3 col-lg-2 col-sm-6 col-12 footer-information">
							<ul class="d-flex align-items-center">
								<li><a href="{% url 'cart_and_orders:cart' %}"><i class="fa fa-shopping-cart icon" aria-hidden="true"></i></a></li>
								<li><a href="{% url 'Register_Login:profile' %}"><i class="fa fa-user" aria-hidden="true"></i></a></li>
							</ul>
						</div>
						</div>

						{% else %}
						<a href="{% url 'Register_Login:login'%}" class="theme-btn line-button-one button-rose contact-button button-white-bg">Login / Register</a>

						{% endif %}
				

					</div>
					<nav id="mega-menu-holder" class="navbar navbar-expand-lg order-lg-2">
						<div  class="container nav-container">
							<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
						        <i class="flaticon-setup"></i>
						    </button>
						   <div class="collapse navbar-collapse" id="navbarSupportedContent">
						   		<ul class="navbar-nav">
								    <li class="nav-item dropdown mega-dropdown-holder">
							            <a class="nav-link" href="/">Home</a>
							           
							        </li>
								    <li class="nav-item dropdown">
							            <a class="nav-link" href="{% url 'categories_and_products:Restaurant_view' %}" >Restaurants.</a>
							        </li>
									{% comment %} <li class="nav-item dropdown">
							            <a class="nav-link" href="{% url 'categories_and_products:categories' %}" >Categories.</a>
							            
							        </li> {% endcomment %}
							        <li class="nav-item dropdown icon-menu">
							            <a class="nav-link" href="{% url 'Register_Login:team'%}" >Team.</a>
							            
							        </li>

									<li class="nav-item dropdown icon-menu">
							            <a class="nav-link" href="{% url 'Register_Login:events'%}" >Events.</a>
							            
							        </li>

						
							        <li class="nav-item dropdown mega-dropdown-holder">
							            <a class="nav-link" href="{% url 'Register_Login:about_us' %}">ِAbout Us.</a>
							            
							        </li>
									{% if user.is_authenticated %}
									
									<li class="nav-item dropdown mega-dropdown-holder">
							            <a class="nav-link" href="{% url 'Register_Login:logOut' %}">Logout.</a>
							            
							        </li>
									
									{% endif %}

								    
							   </ul>
						   </div>
						</div> 
					</nav> 
				</div>
			</div> <!-- /.theme-main-menu -->


			{% block content %}
			{% endblock content %}

			
			


		<!-- Optional JavaScript _____________________________  -->

    	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
    	<!-- jQuery -->
		<script src="{% static 'vendor/jquery.2.2.3.min.js' %}"></script>

		<!-- Popper js -->
		<script src="{% static 'vendor/popper.js/popper.min.js' %}"></script>

		<!-- Bootstrap JS -->
		<script src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>

	    <!-- menu  -->
		<script src="{% static 'vendor/mega-menu/assets/js/custom.js' %}"></script>

		<!-- AOS js -->
		<script src="{% static 'vendor/aos-next/dist/aos.js' %}"></script>

		<!-- WOW js -->
		{% comment %} <script src="{% static 'vendor/WOW-master/dist/wow.min.js' %}"></script> {% endcomment %}

		<!-- owl.carousel -->
		<script src="{% static 'vendor/owl-carousel/owl.carousel.min.js' %}"></script>

		<!-- ajaxchimp -->
		{% comment %} <script src="{% static 'vendor/ajaxchimp/jquery.ajaxchimp.min.js' %}"></script> {% endcomment %}

		<!-- Fancybox -->
		<script src="{% static 'vendor/fancybox/dist/jquery.fancybox.min.js' %}"></script>
		<!-- Select js -->
		<script src="{% static 'vendor/selectize.js/selectize.min.js' %}"></script>
		
		<!-- Tilt js -->
		{% comment %} <script src="{% static 'vendor/tilt.jquery.js' %}"></script> {% endcomment %}

		{% comment %} <script src="{% static 'vendor/jquery-ui/jquery-ui.min.js' %}"></script> {% endcomment %}
		
		<!-- cubeportfolio -->
		<script  src="{% static 'vendor/cubeportfolio/js/jquery.cubeportfolio.min.js' %}"></script>


		<!-- Theme js -->
		<script src="{% static 'js/theme.js' %}"></script>


	</div> <!-- /.main-page-wrapper -->
	</body>
</html>

